{% extends "campaigns/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<head>
   {% load static %}
   <link rel="stylesheet" href="{% static 'comment_form.css' %}">
</head>
<body>
   <br>
   <br>
   <br>
   {% if error %}
   <h3>Something went wrong</h3>
   <p color="red">{{ error }}</p>
   {% endif %}
   <br>
   <h2 class="form-name">Signup</h2>
   <form  class="elias" id="elias_sign_up" method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" name="button">Sign Up</button>
   </form>
   {% endblock %}