{% extends "campaigns/base.html" %}



{% comment %} 
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %} {% endcomment %}




{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'comment_form.css' %}"> 
</head>

<body>
  <br>
  <br>
  <br>
  {% if error %}
<h3>Something went wrong</h3>
<p color="red">{{ error }}</p>
  {% endif %}
  <br>

<h2 class="form-name">Signup</h2>
<form  class="elias" id="elias_sign_up" method="post">
    {% csrf_token %}
    {{ form.as_p}}
<button type="submit" name="button">Sign Up</button>
</form>
{% endblock %}