{% extends "campaigns/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang-"en" dir-"Itr">
    {% load static %}
   <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'idea_details.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">

    </head>
    <body>
        <br><br>
        <div id="idea_details">
            <div id="idea_info">Idea Title:</div>
                <h2>{{ idea.idea_title }} </h2>
            <div id="idea_info">Idea Description:</div>
                <h3>{{ idea.idea_description }} </h3>
        </div>
        <br><br><br><br>

        <form action="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/like/"  method='POST' >
            {% csrf_token %}
        <input type= 'hidden' name= 'campaign_id' value="{{campaign.id}}">
        {% if user not in idea.likes.all %}
        
        <button class="material-icons" type= 'submit'>thumb_up</button>
         {% else%}
        <button class="material-icons" type='submit'>thumb_down</button>

        {% endif %}
        </form>
        <div class="idea-num-of-likes">
                                
            {{ idea.likes.all.count }} likes
        </div>

        <div class="comments_layout">
            <br><br>
            <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/create" style="color: aqua" data-role="button" data-inline="true">
                Add Comment
            </a>
            <br>
            <div class="comment_title"> <h2>Comments:<h2></div>
            {% for comment in comments %}
            <div class="comment_details">
                <div class="comment_info">
                    <div id="idea_info">Written by:  </div>
                     <h5 id="comment_text">{{ comment.author }}</h5>
                    <br>
                </div>
                    {{comment.content}}
                    <br>
                    {% if user.is_authenticated and user == comment.author %}
                    <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/update" data-role="button" data-inline="true">Update comment</a>
                    <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/delete" data-role="button" data-inline="true">Delete comment</a>
                    {%endif%}
                    <br>
                    <br>
                
            
            </div>
            {% endfor %}
            <!--{% for idea in ideas %}
                    <br>
                    <div class="idea_row">
                        <a href='http://127.0.0.1:8000/campaigns/{{campaign.id}}/ideas/{{idea.id}}' style="color: #0071c5">
                            {{ idea.idea_title }} 
                        </a>
                        <br>
                        {{ idea.idea_description }}
                        <br>
                        <div>
                            <br>
                            Suggested URL: <a href='{{idea.idea_url}}' style="color: #0071c5;">
                                {{idea.idea_url}}
                            </a> 
                            <div class="idea-num-of-likes" style="float: right">
                            {{ idea.likes.all.count }} likes
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} -->
        </div>
        {% if user.is_authenticated and user == idea.author %}
        <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/update" data-role="button" data-inline="true">Update Idea</a>
         <br>
        <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/delete" data-role="button" data-inline="true">Delete Idea</a>
        {%endif%}
    </body> 
</html>
{% endblock %}