{% extends "campaigns/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang-"en" dir-"Itr">
   <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'idea_details_css.css' %}"> 
        <meta charset="utf-8">

    </head>
    <body>
        <br><br>
        <div id="idea_details">
            <div id="idea_info">Idea Title:</div>
                <h2>{{ idea.idea_title }} </h2>
            <div id="idea_info">Idea Description:</div>
                <h3>{{ idea.idea_description }} </h3>
        </div>
        <br><br><br><br>
        <div class="comments_layout">
            <div class="comment_title"> <h2>Comments:<h2></div>
            {% for comment in comments %}
            <div class="comment_details">
                <div class="comment_info">
                    <div id="idea_info">Written by:  </div>
                     <h5 id="comment_text">{{ comment.author }}</h5>
                    <br>
                </div>
                    {{comment.content}}
                    <br>
                    {% if user.is_authenticated and user == comment.author %}
                    <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/update" data-role="button" data-inline="true">Update comment</a>
                    <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/delete" data-role="button" data-inline="true">Delete comment</a>
                    {%endif%}
                    <br>
                    <br>
                
            
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated and user == idea.author %}
        <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/update" data-role="button" data-inline="true">Update Idea</a>
         <br>
        <a href="http://127.0.0.1:8000/campaigns/{{campaign_id}}/ideas/{{idea.id}}/delete" data-role="button" data-inline="true">Delete Idea</a>
        {%endif%}
    </body> 
</html>
{% endblock %}