{% extends "campaigns/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang-"en" dir-"Itr">
   <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Details for Comment:</h1>

        <br><br><br>
        <h1>Written by: {{ comment.author }} </h1>
        <h1>{{ comment.content }} </h1>
        <a href="http://http://eliasnassar.pythonanywhere.com/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/update" data-role="button" data-inline="true">Update Comment</a>
         <br>
        <a href="http://http://eliasnassar.pythonanywhere.com/campaigns/{{campaign_id}}/ideas/{{idea.id}}/comments/{{comment.id}}/delete" data-role="button" data-inline="true">Delete Comment</a>
            

       
    </body> 
</html>
{% endblock %}