

{% extends "campaigns/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang-"en" dir-"Itr">
   <head>
        <meta charset="utf-8">
        <title>Idea comments</title>
    </head>
    <body>
        
        <h1>These are all comments: </h1>

        <ul>
            {% for comment in comments %}
            <li>
                <a href={% url 'comments:comment_details' comment.id %}>
                {{ comment.content }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </body> 
</html>
{% endblock %}