{% load static %}
<br>
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link href="https://fonts.cdnfonts.com/css/intelone-display" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'base.css' %}">
      <link rel="stylesheet" href="{% static 'base.css' %}">
      <title>Intel Innovation</title>
   </head>
   <body style>
      <div class="container">
         <nav class=" navbar navbar-expand-lg navbar-light bg-body " >
            <div class="container-fluid" >
               <a class="navbar-brand" href="/">      <img id="intel_logo" src="/media/images/logo-classicblue-72px.ai" alt="" width="60" height="25">
               <span style="color: rgb(9, 82, 165) !important;">
               Innovation
               </span>
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link active" id="nav_bar_tab" aria-current="page" href="http://127.0.0.1:8000/profile/">
                        <span class="nav-bar-one-item">
                        My Profile</a>
                        </span>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="nav-bar-one-item">
                        Campaings
                        </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="http://127.0.0.1:8000/top_campaigns">Sort by popularity</a></li>
                           <li><a class="dropdown-item" href="http://127.0.0.1:8000/">Sort by creation date</a></li>
                           <li><a class="dropdown-item" href="http://127.0.0.1:8000/soon_campaigns">Sort by starting date</a></li>
                           <li>
                              <hr class="dropdown-divider">
                           </li>
                           <li><a class="dropdown-item" href="http://127.0.0.1:8000/create">
                              Add new campaign
                              </a>
                           </li>
                        </ul>
                     <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/create">
                        <span class="nav-bar-one-item">
                        Create Campaign
                        </span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" id="nav_bar_tab" aria-current="page" href="http://127.0.0.1:8000/top_users/">
                        <span class="nav-bar-one-item">
                        Top Users</a>
                        </span>
                     </li>
                     <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/archived_campaigns">
                        <span class="nav-bar-one-item">
                        Archive
                        </span>
                        </a>
                     </li>
                     </li>
                  </ul>
                  {% if user.is_authenticated %}
                  Logged in as {{ user.username }} &nbsp;<a href={% url 'logout' %}>Logout</a>
                  {% else %}
                  Logged Out &nbsp;<a href="http://127.0.0.1:8000/accounts/login/">Login&nbsp;</a> or &nbsp;<a href="http://127.0.0.1:8000/accounts/signup/">SignUp</a>
                  {% endif %}
               </div>
            </div>
         </nav>
         {% block content %}
         <!-- Here will be the content -->
         {% endblock %}
      </div>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
   </body>
</html>
<br>