{% extends "campaigns/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang-"en" dir-"Itr">
    <br>
    <head class="campaign_banner">
        {% load static %}
        <link rel="stylesheet" href="{% static 'campaign_details.css' %}"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        </head>
    
        <div class="container">


            <div id="campaign-banner">
                {% if campaign.image %}
        
                <img src="{{ campaign.image.url }} "
                width="900" 
                height="500" >
                {% endif %}
            </div>


            <div id="title-and-description">
                <strong> <h1>{{ campaign.title }} </h1> </strong>
                <h3>{{ campaign.description }} </h3>
                <h2>{{ campaign.start_date }} {{ campaign.end_date }}</h2>
            </div>


            <div id="author">
                <h3> Manged by: {{ campaign.manager }} </h3>
                <h3> Last edited by: {{ campaign.author }} </h3>

            </div>


            <div id="statistics"> 
                <form action="{% url 'campaigns:campaign-like' campaign.id %}" method='POST' >
                    {% csrf_token %}
                <input type= 'hidden' name= 'campaign_id' value="{{campaign.id}}">
                {% if user not in campaign.likes.all %}
                
                <button class="material-icons" type= 'submit'>thumb_up</button>
                 {% else%}
                <button class="material-icons" type='submit'>thumb_down</button>
        
                {% endif %}
            </form>
            <form action="{% url 'campaigns:campaign-participate' campaign.id %}" method='POST' >
                {% csrf_token %}
            <input type= 'hidden' name= 'campaign_id' value="{{campaign.id}}">
            {% if user not in campaign.participants.all %}
                
                <button class="material-icons" type= 'submit'>group add</button>
                 {% else%}
                <button class="material-icons" type='submit'>person_remove</button>
        
                {% endif %}
            </form>
        
            {% if user.is_authenticated and user in campaign.participants.all %}
                
            <a href="http://127.0.0.1:8000/campaigns/{{campaign.id}}/ideas/create" data-role="button" data-inline="true" class="material-icons">lightbulb</a>
        
            {% endif %}
            


        <strong>{{ campaign.likes.all.count }} likes</strong>
             </div>
            <div id="ideas">
                <body>
                    <br>
                    <h1>Ideas:</h1>
                    <br>
                    <div class="ideas_layout">
                        {% for idea in ideas %}
                        <div class="idea">
                            <div class="idea_info">
                                <a href='http://127.0.0.1:8000/campaigns/{{campaign.id}}/ideas/{{idea.id}}'>
                                   {{ idea.idea_title }}
                                </a>
                               
                            </div>
                            <div class="idea_description">
                            {{ idea.idea_description }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </body> 
                {% if user.is_authenticated %} 
                {% if user == campaign.author or user == campaign.manager %} 
                        <a href="http://127.0.0.1:8000/campaigns/{{campaign.id}}/update" data-role="button" data-inline="true">Update Campaign</a>
                        <br>
                        <a href="http://127.0.0.1:8000/campaigns/{{campaign.id}}/delete" data-role="button" data-inline="true">Delete Campaign</a>
                {% endif %}
                {% endif %}
                </div>
        </div>

        
    

    {% endblock %}