{% extends "campaigns/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang-"en" dir-"Itr">
    <br>
   <head class="campaign_banner">
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaign_details.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    {% if campaign.image %}
        
    <img src="{{ campaign.image.url }} "
    width="600" 
    height="500" >
    {% endif %}
    </head>
    <body>
    <div class="grid-container">
        <div class="title-and-description">
            <strong> <h1>{{ campaign.title }} </h1> </strong>
            <h3>{{ campaign.description }} </h3>
            <h2>{{ campaign.start_date }} {{ campaign.end_date }}</h2> <!-- should it be here?-->
        </div>

        <div class="roles">
            <h3> This Campaign is made by: {{ campaign.auther }} </h3>
        </div>
    </div>
    <br><br>

    <div class="statistics">
        <button id="like">

            <i class="fa fa-thumbs-up"></i>
            <span class="icon">Like</span>
          </button>
    </div>
    <a href="http://127.0.0.1:8000/campaigns/{{campaign.id}}/update" data-role="button" data-inline="true">Update Campaign</a>
        <br>
    <a href="http://127.0.0.1:8000/campaigns/{{campaign.id}}/delete" data-role="button" data-inline="true">Delete Campaign</a>
    </body> 
</html>
{% endblock %}