{% extends "campaigns/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang-"en" dir-"Itr">
   <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <title>My Campaigns</title>
    </head>
    <body>
        <br>
        <h1>Current active campaigns: </h1>
        <br>
        <div class="campiagns_layout">
            {% for campaign in campaigns %}
            <div class="campaign">
                {% if campaign.image %}
        
                <a href={% url 'campaigns:campaign_details' campaign.id %}>
                    <img class="campaign_image" 
                src="{{ campaign.image.url }} ">
            </a>
                {% endif %}

                <div class="campaign_description">
                {{ campaign.description }}
                </div>

                <div class="campaign_info">
                <div>
                    <i class="material-icons">thumb_up</i>
                    {{ campaign.number_of_likes}}
                </div>
                     <a href={% url 'campaigns:campaign_details' campaign.id %}>
                        {{ campaign.title }}
                     </a>
                    
                </div>
                
                
            </div>
            {% endfor %}
        </div>
        
    </body> 
</html>
{% endblock %}