:root {
    --main-radius:5px;
    --main-padding:5px;
    }
    
    .container{
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-rows: 2fr 1fr 1fr 2fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "campaign-banner campaign-banner"
        "title-and-description author"
        "statistics statistics"
        "ideas ideas";
      grid-gap: 0.2rem;
      font-family: "Inter", sans-serif;
      font-weight: 800;
      font-size: 12px;
      color: #004d40;
      text-align:center;
    }
    
    #campaign-banner{
      background: #a7ffeb;
      grid-area:campaign-banner;
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }
    
    #title-and-description{
      background: #a799ec;
      grid-area:title-and-description;
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }
    
    #author{
      background: #1899ec;
      grid-area: author;
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }
    
    #statistics{
      background: #189911;
      grid-area:statistics;
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }
    
    #ideas{
      background: #009091;
      grid-area: ideas;
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }
    
    @media only screen and (max-width:650px) {
      .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 0.8fr 0.8fr 1fr;
        grid-template-areas:
          "campaign-banner"
          "title-and-description"
          "author"
          "statistics"
          "ideas";
      }
    }