{% extends "campaigns/base.html" %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'comment_form.css' %}"> 
</head>

<body>
  <br>
  <br>
  <br>
{% if form.errors %}


<h1 class="form-name"> Login </h1>
<br>
<p>Your user password didn;t match</p>
{% endif %}
<br>
<form class="elias" method="post" %>
  {% csrf_token %}
  {{ form.as_p}}
<button type="submit" name="button">Login</button>
<button onclick="window.location.href = 'google';">SIGN IN WITH GOOGLE</button>
</form>
{% endblock %}