body{
    background-color: #0071c5;
    font-family: 'IntelOne Display', sans-serif;
    align-items: center;


}

.elias{
    block-size: 50;
    border: 3px solid rgb(255, 255, 255);
    text-align: left;
    padding-left: 130px;
    border-radius: 0.7rem;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue !important;
    max-width: 600px;
    align-self: center;


}
.form-name{
    color: aliceblue;
    text-align: center;
    align-items: center;

}

.new_idea_button {
    background-color: #0071c5;
    color: aliceblue;
    border-radius: 0.7rem;
    border-color: aliceblue;
    border-style: hidden;
    text-align: center;
    align-items: center;

    
}