body {
    background-color: #0071c5;
    font-family: 'IntelOne Display', sans-serif !important;
}

.idea_container {
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    text-align: center;
    font-weight: 300 !important;
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.8fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    grid-template-areas: "idea_title idea_title idea_title" "idea_info idea_info idea_statistics" "idea_comments_container idea_comments_container idea_comments_container";
}

.idea_title {
    grid-area: idea_title;
    font-weight: 300;
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    color: aliceblue;
    font-style: unset;
    display: inline-block;
    border-image: linear-gradient(to right, transparent, aliceblue, transparent);
    border-image-slice: 1;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.idea_info {
    grid-area: idea_info;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas: "back_sol_impact back_sol_impact back_sol_impact" "idea_team idea_team idea_team" "idea_dates idea_dates idea_dates";
    border-radius: 0.9rem;
    opacity: 0.8;
    background-color: aliceblue;
    height: 100%;
}

.idea_statistics {
    grid-area: idea_statistics;
    border-radius: 0.9rem;
    opacity: 0.8;
    background-color: aliceblue;
    max-width: fit-content;
    max-height: fit-content;
    justify-self: right;
    padding: 30px;
    height: 100%;
}

.idea_comments_container {
    grid-area: idea_comments_container;
    border-radius: 0.9rem;
    opacity: 0.8;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 30px;
    display: inline;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.back_sol_impact {
    grid-area: back_sol_impact;
    background-color: aliceblue;
    margin: 15px;
    text-align: left;
    border-radius: 0.8rem;
    margin-bottom: -20px;
}

.idea_team {
    grid-area: idea_team;
    background-color: rgba(0, 113, 197, 0.5);
    margin: 20px;
    text-align: left;
    border-radius: 0.8rem;
}

.idea_dates {
    grid-area: idea_dates;
    background-color: #0071c5;
    margin: 20px;
    text-align: left;
    border-radius: 0.8rem;
    width: fit-content;
}

#btn.btn-primary {
    background-color: black;
    color: black;
}

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}

@media (min-width: 0) {
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0) {
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top: 20px
}

.idea_dates {
    display: flex;
    flex-wrap: wrap;
    border-image-slice: 1;
}

.campaign_info_start {
    color: #92d4ff;
}

.campaign_info_end {
    color: #92d4ff;
    margin-left: 3rem;
}

@media (max-width: 600px) {
    .campaign_info_start:after {
        content: none;
    }
    .campaign_info_end {
        flex-basis: 100%;
        margin-left: 0;
    }
}

@media (min-width: 600px) {
    .campaign_info_start:after {
        content: ", ";
        flex-basis: auto;
    }
    .campaign_info_end {
        margin-left: 0.25rem;
    }
}

#start_date {
    color: aliceblue;
    opacity: 1;
}

#end_date {
    color: aliceblue;
    opacity: 1;
}

#team_name {
    color: aliceblue;
    opacity: 1;
}

.nav.nav-tabs {
    background-color: #0071c5;
    border-radius: 0.8rem;
    padding: 15px;
    width: fit-content;
    align-self: center;
}

.tab-pane.fade.show.active {
    color: #0071c5;
    text-size-adjust: 3rem;
    font-size: large;
    margin-top: 8px;
    border: 2px solid #0071c5;
    border-radius: 0.5rem;
    padding: 12px;
}

.tab-pane.fade {
    color: #0071c5;
    text-size-adjust: 3rem;
    font-size: large;
    margin-top: 8px;
    border: 2px solid #0071c5;
    border-radius: 0.5rem;
    padding: 12px;
}

.nav-link:hover {
    color: aliceblue;
    border-color: aliceblue;
    /* background-color: black; */
}

.nav-link {
    color: aliceblue;
    background-color: aliceblue;
    border-radius: 0.5rem !important;
    margin-left: 5px;
    margin-right: 5px;
}

.idea_likes {
    color: green !important;
    font-size: medium;
    font-weight: 500;
    display: inline;
    padding-top: 20px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#update_idea {
    background-color: black;
}

#thumb_down_idea {
    color: green;
    background-color: aliceblue !important;
    border: none;
    font-size: xx-large;
}

#thumb_up_idea {
    color: green;
    border: none;
    background-color: aliceblue !important;
    font-size: xx-large;
}

.idea_url,
.idea_file,
.advanced_options {
    margin: 10px;
    position: relative;
    display: inline-block;
    /* Adjust the margin value to increase or decrease the spacing */
}

.hover-text {
    position: absolute;
    top: -45px;
    /* Adjust the distance from the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    min-width: max-content;
}

.idea_file:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.idea_url:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.advanced_options:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.hover-text:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: #333;
}

.hover-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-top-color: #333;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    position: relative;
    z-index: -1
}

.progress-bar .stage {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.stage-1 {
    width: 20%;
    background-color: #2ecc71;
}

.stage-2 {
    width: 40%;
    background-color: yellow;
}

.stage-3 {
    width: 60%;
    background-color: red;
}

.stage-4 {
    width: 80%;
    background-color: orange;
}

.stage-5 {
    width: 100%;
    background-color: green;
}

.comment {
    margin: 30px;
    padding: 10px;
    border: 1px solid #0071c5;
    border-radius: 5px;
    z-index: -1;
}

.comment .content {
    margin-bottom: 5px;
}

.comment .author {
    font-weight: bold;
}

.comment .created-at {
    font-style: italic;
    color: #888;
}

.replies {
    margin-left: 20px;
}

.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: fit-content;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion .accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    align-self: center;
}

.accordion .accordion-header:hover {
    background-color: #e0e0e0;
}

.accordion .accordion-content {
    display: none;
    padding: 10px;
}

.accordion .accordion-content .comment {
    margin: 5px 0;
}

.comments_number_sort {
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    overflow: auto;
    margin-bottom: 20px; */
}

#comments_count {
    float: left;
    margin-left: 10px;
    color: #0071c5;
    border-bottom: aliceblue;
    display: inline;
    text-size-adjust: 80%;
    font-weight: 300;
}

.sorting_options {
    float: right;
}

#dropdownMenu3 {
    background-color: #0071c5;
    color: aliceblue;
    opacity: .8;
    border-radius: 0.9rem;
}

#authors-dropdown {
    list-style-type: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .7rem;
    position: static;
    width: fit-content !important;
    border-radius: 0.9rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.idea_comments {
    z-index: -1;
}

.btn.btn-outline-dark {
    float: right;
}

#dropdownMenu4 {
    background-color: #0071c5;
    color: aliceblue;
    opacity: .8;
    border-radius: 0.9rem;
    margin-right: 5px;
}

.comment-author {
    font-weight: 500;
}

.comment-date {
    font-weight: 500;
}

.comment-header {
    text-align: left;
}

.comment-content {
    text-align: left;
}

#thumb_up_comment {
    color: green;
    background-color: aliceblue !important;
    border: none;
    font-size: x-large;
}

#thumb_down_comment {
    color: green;
    background-color: aliceblue !important;
    border: none;
    font-size: x-large;
}

#thumb_up_comment_reply {
    color: green;
    background-color: rgba(202, 219, 241, 0);
    border: none;
    font-size: large;
}

#thumb_down_comment_reply {
    color: green;
    background-color: rgba(202, 219, 241, 0);
    border: none;
    font-size: large;
}

.our_reply_button {
    display: flex !important;
}

.accordion-content {
    display: none;
    padding-left: 20px;
}

.accordion-content.show {
    display: block;
}

.accordion-button {
    background-color: aliceblue;
    color: black;
    font-weight: 300;
}

#accordion-comment {
    border: none;
    min-width: 300px;
}

#accordionExample {
    border: 1px solid #0071c5;
    border-radius: 0.1rem;
}

.idea-num-of-likes {
    font-size: large;
}

.idea-num-of-likes-reply {
    font-size: medium;
}

.reply_and_replies {
    display: flex;
    justify-content: center;
}

.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.reply-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
}

.accordion-button {
    padding: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.btn.btn-secondary {
    background-color: rgba(0, 113, 197, 0.8);
}

.hover-text-star {
    position: absolute;
    top: 55%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    white-space: nowrap;
}

#not_in_favorites {
    float: left;
    padding-top: 5px;
    color: yellow;
    position: relative;
    padding-top: 5px;
    margin-top: -7px;
}

#_in_favorites {
    float: left;
    padding-top: 5px;
    color: yellow;
    position: relative;
    padding-top: 5px;
    margin-top: -7px;
}

#not_in_favorites:hover .hover-text-star {
    visibility: visible;
    opacity: 1;
}

#_in_favorites:hover .hover-text-star {
    visibility: visible;
    opacity: 1;
}

.hover-text-star-inner {
    display: inline-block;
    vertical-align: middle;
}