body{
    background-color: #0071c5;
    font-family: 'IntelOne Display', sans-serif;

}
head{
    font-family: 'IntelOne Display', sans-serif;

}
#idea_info{
    color: #92d4ff;
}

.comment_title{
    color: #92d4ff;
    border: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.comment_details{
    border: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    border-left: none;
    border-right: none;
}    

.comment_info{
    display: flex;
    flex-direction: row;
    padding-top: 2px;
}

#comment_text{
    padding-left: 2px;

}

a:link{
    color: aqua;
}

#idea_details{
    border: 1px solid rgb(255, 255, 255);
    padding-left: 5px;
}