body {
    background-color: #0071c5 !important;
    font-family: 'IntelOne Display', sans-serif !important;
}

.profile_container {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 0.9fr 1fr 0fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "profile_left_banner participated_campaigns participated_campaigns participated_campaigns participated_campaigns" "profile_left_banner profile_favorites profile_favorites profile_favorites profile_favorites" "profile_left_banner profile_favorites profile_favorites profile_favorites profile_favorites" "profile_left_banner latest_comments latest_comments latest_comments latest_comments";
}

.profile_left_banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "profile_picture" "profile_info" "profile_info";
    grid-area: profile_left_banner;
    height: fit-content;
}

.profile_picture {
    grid-area: profile_picture;
    height: 200px;
    display: flex;
    justify-content: center;
}

.profile_picture img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid aliceblue;
    padding: 3px;
    width: 200px;
}

.username {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}

.profile_info {
    grid-area: profile_info;
    background-color: rgb(240, 248, 255, 0.7) !important;
    border-radius: 0.999rem;
    text-align: left;
    padding: 20px;
    height: fit-content;
    margin-top: 30px;
}

.participated_campaigns {
    grid-area: participated_campaigns;
    background-color: rgb(240, 248, 255, 0.7) !important;
}

.profile_favorites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "favorite_ideas favorite_ideas favorite_campaigns favorite_campaigns" "favorite_ideas favorite_ideas favorite_campaigns favorite_campaigns" "favorite_ideas favorite_ideas favorite_campaigns favorite_campaigns";
    grid-area: profile_favorites;
    background-color: rgb(240, 248, 255, 0.7) !important;
    border-radius: 0.8rem;
    max-height: 400px;
}

.favorite_ideas {
    grid-area: favorite_ideas;
    background-color: aliceblue;
    margin: 10px;
    overflow-y: auto;
    border-radius: 0.8rem;
}

.favorite_campaigns {
    grid-area: favorite_campaigns;
    background-color: aliceblue;
    margin: 10px;
    overflow-y: auto;
    border-radius: 0.8rem;
}

.latest_comments {
    grid-area: latest_comments;
    background-color: rgb(240, 248, 255, 0.7) !important;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
}

.campaign_image {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 0.8rem;
    display: block;
    object-fit: cover;
    border: 2px solid;
    border-color: #0071c5;
    margin: 5px;
}

.info_body {
    font-weight: 500;
}

.participated_campaigns {
    height: 280px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 0.8rem;
    padding-top: 10px;
}

.participated_campaigns_list {
    padding: 15px;
    padding-bottom: 0;
    list-style-type: none;
    overflow-x: auto;
    white-space: nowrap;
    height: fit-content;
}

.campaign_image {
    width: 120px;
    height: 170px;
    overflow: hidden;
    border-radius: 0.8rem;
    display: block;
    object-fit: cover;
    border: 2px solid;
    border-color: #0071c5;
    margin: 5px;
}

.profile_titles {
    color: #0071c5;
    font-size: x-large;
}

#campaign_thumbnail {
    display: block;
    display: inline-block;
    border-radius: 0.8rem;
    word-wrap: break-word;
    max-width: 500px;
    width: 310px;
    border: 2px solid transparent;
    height: fit-content;
    margin: 0px 10px 0px 10px;
}

#campaign_thumbnail:hover {
    border: 2px solid #0071c5;
}

#idea_thumbnail {
    margin: 7px;
}

#idea_thumbnail:hover {
    border: 2px solid #0071c5;
}

#favorite_campaign_thumbnail:hover {
    border: 2px solid #0071c5;
}

#favorite_campaign_thumbnail {
    margin: 7px;
}

#ideas_ul_list {
    list-style-type: none;
}

#comment_card {
    width: 600px;
    border-radius: 0.8rem;
}

#comment_col {
    width: 600px;
    border-radius: 0.8rem;
}